.container-fluid {
  padding-bottom: 1em;
  padding-top: 1em;
}


.card {
  margin-top: 0.5em;
}

.headshot h3 {
  border-right: 1px solid #13899c;
}

.headshot img {
  margin: 0.5em;
}

.username {
  color: #101414;
}

.look-ma-two-lists {
  list-style-type: circle;
  line-height: 2em;
  margin-bottom: 0;
}